*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    width: 100%;
    min-height: 100vh;
    /* background-color: rgb(148, 210, 200); */
    background:url('https://images.pexels.com/photos/1410226/pexels-photo-1410226.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat;
    background-size: cover;
    padding-bottom: 32px;
    /* opacity: 0.65; */
    display: flex;
    flex-wrap: wrap;
}
.note{
    width: 300px;
    height: 300px;
    background-color: white;
    margin: 16px;
    box-shadow: 13px 53px 27px 6px black;
    margin-top: 55px;
    
}
.tool{
    width: 100%;
    background-color: #422606;
    color: white;
    padding: 6px;
    display: flex;
    justify-content: end;
}
.tool i{
    padding: 5px;
    cursor: pointer;
}
.note > textarea{
    border-radius: 6px;
}
.note textarea{
    border: none;
    width: 100%;
    height: 100%;
    padding: 12px;
    resize: none;
}
.note textarea:focus{
    border: 0;
    outline: 0;
    padding: 12px;
    font-size: 14px;
    font-family: cursive;
}
#add-btn{
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: rgb(60, 4, 4);
    color: white;
    border: 0;
    font-size: 13px;
    font-family: cursive;
    cursor: pointer;
    outline: 0;
    padding: 10px;
    border-radius: 10px;
}